.Settings {
	float: right;
	border: 1px solid lightgray;
	border-left: 0 none;
}
	.Settings-btn {
		position: relative;
		text-align: left;
		padding: 5px 6px 6px;
		border-bottom: 1px dashed lightgray;
		height: 16px;
		font-size: 14px;
	} .Settings-btn.false {
		background-color: #f3f3f3;
		text-decoration: line-through;
	} .Settings-btn:hover {
		text-decoration: none;
		background-color: white;
	} .Settings-btn.true {
		background-color: #ffd8b3;
	}
		.Settings-checkbox {
			position: absolute;
			top: 0; left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
		} 
		.Settings-exclude {
			border: 0 none;
			width: 96%;
			padding: 3px 2%;
			height: 63px;
			resize: none;
			margin: 0;
			font-size: 12px;
			background-color: #fffbf7;
			transition: box-shadow 330ms;
		} .Settings-exclude:focus {
			background-color: white;
		} .Settings-exclude[isContent] {
			box-shadow: inset 0 0 0 40px #ffe8d2;
		}
			
		